PORT=5010
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/wealll_inventory?retryWrites=true&w=majority
JWT_SECRET=supersecretjwtkey_change_in_production
NODE_ENV=development
CLIENT_URL=http://localhost:5173
